Python Data Types Methods : Inbuilt Way to Manipulate/perform-operatiosn/change-Value the value of DataTypes in Python

In [ ]:
### String Data Methods

In [115]:
### Indexing and Slicing 

### [ First : last : Step ]
### [ 0 : last : 1 ] Default
s = " hello Welcome to 2020"

In [117]:
s.upper()

' HELLO WELCOME TO 2020'

In [118]:
s.lower()

' hello welcome to 2020'

In [129]:
b=s.split("to")

print ("New String is now >>> " ,b , "\nType of this data is " , type(b))

New String is now >>>  [' hello Welcome ', ' 2020']
Type of this data is  <class 'list'>

In [127]:
a=s.partition('e')

print ("New String is now >>> " ,a , "\n Type of this data is " , type(a))

New String is now >>>  (' h', 'e', 'llo Welcome to 2020')
 Type of this data is  <class 'tuple'>

In [8]:
 s

' hello Welcome to 2020'

In [9]:
s.count('o')

3

In [10]:
s.find('o')

5

In [17]:
s.center(12,'h')

' hello Welcome to 2020'

In [112]:
s

['ranjan', 'is', 'doing', 'Python', 'Programs', 'newWOrd', 'newWOrd']

In [111]:
s.append ('newWOrd')
s

['ranjan', 'is', 'doing', 'Python', 'Programs', 'newWOrd', 'newWOrd']

In [ ]:
s.isalnum()

In [ ]:
s.isspace()

In [ ]:
s.islower()

In [ ]:
s.isalpha()

In [ ]:
s.istitle()

In [ ]:
s.isupper()

In [130]:
s.endswith('o')

False

In [136]:
s.startswith('')

True

In [135]:
s

' hello Welcome to 2020'

In [ ]:
### List

In [55]:
my_list = [1,2,3,1,1]

In [56]:
## List Operations
### Indexing and Slicing 
# Make the list double
my_list * 2

[1, 2, 3, 1, 1, 1, 2, 3, 1, 1]

In [57]:
my_list.append('append me!')

In [58]:
my_list

[1, 2, 3, 1, 1, 'append me!']

In [59]:
my_list.pop(0)

1

In [ ]:
my_list.remove(2)

In [30]:
my_list.reverse()
my_list

['append me!', 1, 1, 3, 2]

In [60]:
my_list.append(4)

In [61]:
my_list

[2, 3, 1, 1, 'append me!', 4]

In [62]:
my_list.extend('ty')
my_list

[2, 3, 1, 1, 'append me!', 4, 't', 'y']

In [64]:
my_list = [5,61,23,123,121,21]

In [70]:
my_list.sort(reverse=False)
my_list

[5, 21, 23, 61, 121, 123]

In [71]:
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]


matrix = [lst_1,lst_2,lst_3]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [73]:
matrix[0]
matrix[0][0]

1

In [ ]:
### list Comprehension

In [75]:
list1 = [1,2,3,4,5,6,7,12,1,2,312,121,21]

In [91]:
blank_list=[]
for a in range (12):
    blank_list.append (a)
blank_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [77]:
 [ a for a in range (12)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [86]:
["even" for a in list1 if a % 2 == 0 ]

['even', 'even', 'even', 'even', 'even', 'even']

In [88]:
["even" if a % 2 == 0 else 'odd' for a in list1]

['odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'even',
 'odd',
 'odd']

In [93]:
s= ['ranjan' ,'is', 'doing', 'Python', 'Programs']
[a.upper() for a in s]

['RANJAN', 'IS', 'DOING', 'PYTHON', 'PROGRAMS']

In [94]:
### Tuple Methods
### TUple Methods and  comprehension
### Tuple has only 2 methods index andcount

tuple1 = (1,21,1,21,1)

In [ ]:
a= (1,2,3,4)
b=(1,2,31,1,1)
a.index(3)

In [95]:
### No directly comprehension but its a generator in a tuple

(a for a in range(12))

In [105]:
(a for a in range(12))

In [ ]:

tuple((i*1 for i in range (10)))

In [59]:
a

{'Name0': 'ranjan0',
 'Name1': 'ranjan1',
 'Name2': 'ranjan2',
 'Name3': 'ranjan3',
 'Name4': 'ranjan4',
 'Name5': 'ranjan5',
 'Name6': 'ranjan6',
 'Name7': 'ranjan7',
 'Name8': 'ranjan8',
 'Name9': 'ranjan9'}

2

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [106]:
### Sets methods ADD CLear COPy Difference
x= {1,2,3}

In [107]:
x.add(2)

In [108]:
x.

{1, 2, 3}

In [ ]:
### Dictonary operations and comprehensions

In [ ]:
a={"Name"+ str(i) : "ranjan" +str(i) for i in range (10)}