In [2]:
# Initialize a dictionary "emp_info" with below details
# In - emp_info['Tom']
# Out - {'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'}

emp_info = {'Tom':{'email':'tom_latham019@gmail.com', 'Phone': +1987654321, 'City': 'California'}}
print(emp_info['Tom'])

# In - emp_info['Kathy']
# Out - {'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}

emp_info = {'Kathy':{'email':'kathy_abram897@gmail.com', 'Phone': +1887654321, 'City': 'New York'}}
print(emp_info['Kathy'])

{'email': 'tom_latham019@gmail.com', 'Phone': 1987654321, 'City': 'California'}
{'email': 'kathy_abram897@gmail.com', 'Phone': 1887654321, 'City': 'New York'}

In [22]:
# Create a dictionary out of below inputs
lst1 = ['emp1', 'emp2', 'emp3']
emp_key = ['e_name', 'e_id', 'e_sal']
emp1_val = ['John', 'SG101', '$10,000']
emp2_val = ['Smith', 'SG102', '$9,000']
emp3_val = ['Peter', 'SG103', '$9,500']

# Expected Output:- {'emp1':{'e_name':'John', 'e_id':'SG101', 'e_sal':$10,000}, 
#                    'emp2':{'e_name':'Smith', 'e_id':'SG102', 'e_sal':$9,000}, 
#                    'emp3':{'e_name':'Peter', 'e_id':'SG103', 'e_sal':$9,500}}
    
a = dict(zip(emp_key,emp1_val))
b = dict(zip(emp_key,emp2_val))
c = dict(zip(emp_key,emp3_val))
z = dict(zip(lst1,[a,b,c]))
print(z)

{'emp1': {'e_name': 'John', 'e_id': 'SG101', 'e_sal': '$10,000'}, 'emp2': {'e_name': 'Smith', 'e_id': 'SG102', 'e_sal': '$9,000'}, 'emp3': {'e_name': 'Peter', 'e_id': 'SG103', 'e_sal': '$9,500'}}

In [28]:
# Acess the value of key 'history'

sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

print(sampleDict[ "class"]['student']['marks']['history'])

80

In [61]:
# Initialize dictionary with default values. Inputs are:-
# employees = ['Kelly', 'Emma', 'John']
# defaults = {"designation": 'Application Developer', "salary": 8000}

#Expected output:- {'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'Emma': {'designation': 'Application Developer', 'salary': 8000}, 
#                   'John': {'designation': 'Application Developer', 'salary': 8000}}

employees = ['Kelly', 'Emma', 'John']
defaults = {"designation": 'Application Developer', "salary": 8000}

d = {}
for i in employees:
    d.update({i:defaults})
print(d)

{'Kelly': {'designation': 'Application Developer', 'salary': 8000}, 'Emma': {'designation': 'Application Developer', 'salary': 8000}, 'John': {'designation': 'Application Developer', 'salary': 8000}}

In [54]:
# In gene expression, mRNA is transcribed from a DNA template. 
# The 4 nucleotide bases of A, T, C, G corresponds to the U, A, G, C bases of the mRNA. 
# Write a function that returns the mRNA transcript given the sequence of a DNA strand.

def f1(i):
    Mapping = {'A':'U','T':'A','C':'G','G':'C'}
    ab = Mapping[i]
    return print('RNA:',ab)
f1(input('Enter DNA:'))

# Use a dictionary to provide the mapping of DNA to RNA bases.

Mapping = {'A':'U','T':'A','C':'G','G':'C'}

Enter DNA:A
RNA: U

In [2]:
# Write a function which takes a word as input and returns a dictionary with letters as key and no of time letters are repeated as value.
# In - count_letter('google.com')
# Out - {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

# In - count_letter('google.com')
# Out - {'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

def count_letter(i):
    ax = list(i)
    ay = []
    for j in ax:
        az = ax.count(j)
        ay.append(az)       
    print(dict(zip(ax,ay)))
count_letter('google.com')

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

In [30]:
# A DNA strand consisting of the 4 nucleotide bases is usually represented with a string of letters: A,T, C, G. 
# Write a function that computes the base composition of a given DNA sequence.

# In - baseComposition("CTATCGGCACCCTTTCAGCA")
# Out - {'A': 4, 'C': 8, 'T': 5,  'G': 3 }

def count(i):
    ax = list(i)
    ax1 = ['A','C','T','G']
    ay = []
    c = 0
    for i in range(len(ax1)):
        if ax1[i] in ax:
            az = ax.count(ax1[i])
            ay.append(az)
        else:
            ay.append(c) 
    print(dict(zip(ax1,ay)))
count('CTATCGGCACCCTTTCAGCA')

    
# In - baseComposition("AGT")
# Out - {'A': 1, 'C': 0, 'T': 1,  'G': 1 }

def count1(i):
    ax = list(i)
    ax1 = ['A','C','T','G']
    ay = []
    c = 0
    for i in range(len(ax1)):
        if ax1[i] in ax:
            az = ax.count(ax1[i])
            ay.append(az)
        else:
            ay.append(c) 
    print(dict(zip(ax1,ay)))
count1('ATG')

{'A': 4, 'C': 8, 'T': 5, 'G': 3}
{'A': 1, 'C': 0, 'T': 1, 'G': 1}

In [15]:
# [MCQ] Suppose "d" is an empty dictionary, which statement does not assign "d" with {"Name":"Tom"}? 
# 1. d = {"Name": "Tom" }
# 2. d["Name"] = "Tom"
# 3. d.update({"Name": "Tom" })
# 4. d.setdefault("Name", "Tom")
# 5. None of the above.

5. None of the above.

In [17]:
# [MCQ] d = {"a":1, "b":2}. Which of the statements returns [1,2]? 
d = {"a":1, "b":2}
# 1. d.keys()
print(d.values())
# 3. d.items()
# 4. d.popitem()
# 5. None of the above.

dict_values([1, 2])

In [20]:
# [MCQ] Which of the following declarations is not valid for 'dict' type?
# 1. d = {"Name": "Tom" }
# 2. d = { (1,3,4): 4.5 }
# 3. d = { ["First", "Last"]: (1,3) }
# 4. d = { 1: 0.4 }
# 5. None of the above

d = { ["First", "Last"]: (1,3) }

In [52]:
# Write a function reverseLookup(dictionary, value) that takes in a dictionary 
# and a value as arguments and returns a sorted list of all keys that contains the value. 
# The function will return an empty list if no match is found.

# In - reverseLookup({'a':1, 'b':2, 'c':2}, 1)
# Out - ['a']

def reverseLookup(a,b):
    x = []
    for i in a.keys():
        if a[i] == b:
            x.append(i)
    print(x)  
                
reverseLookup({'a':1, 'b':2, 'c':2}, 1)

# In - reverseLookup({'a':1, 'b':2, 'c':2}, 2)
# Out - ['b', 'c']

def reverseLookup(a,b):
    x = []
    for i in a.keys():
        if a[i] == b:
            x.append(i)
    print(x)  
                
reverseLookup({'a':1, 'b':2, 'c':2}, 2)

# In - reverseLookup({'a':1, 'b':2, 'c':2}, 3)
# Out - []

def reverseLookup(a,b):
    x = []
    for i in a.keys():
        if a[i] == b:
            x.append(i)
    print(x)  
                
reverseLookup({'a':1, 'b':2, 'c':2}, 3)

['a']
['b', 'c']
[]

In [ ]:
# Write a function invertDictionary(d) that takes in a dictionary as argument and return a dictionary that inverts the keys and the values of the original dictionary.
# In - invertDictionary({'a':1, 'b':2, 'c':3, 'd':2})
# Out - {1: ['a'], 2: ['b', 'd'], 3: ['c']}
# In - invertDictionary({'a':3, 'b':3, 'c':3})
# Out - {3: ['a', 'c', 'b']}
# In - invertDictionary({'a':2, 'b':1, 'c':2, 'd':1})
# Out - {1: ['b', 'd'], 2: ['a', 'c']}

# print(dir(dict))

In [16]:
# Write a function that converts a sparse vector into a dictionary as described above.
# In - convertVector([1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4])
# Out - {0: 1, 3: 2, 7: 3, 12: 4}
# In - convertVector([1, 0, 1 , 0, 2, 0, 1, 0, 0, 1, 0])
# Out - {0: 1, 2: 1, 4: 2, 6: 1, 9: 1}
# In - convertVector([0, 0, 0, 0, 0])
# Out - {}

def convertVector(numbers):
    d = {}    
    for i in range(len(numbers)):
        if numbers[i] != 0:
            d[i] = numbers[i]
    return d
convertVector([1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4])

{0: 1, 3: 2, 7: 3, 12: 4}

In [84]:
# Write a function that converts a dictionary back to its sparse vector representation.
# In - convertDictionary({0: 1, 3: 2, 7: 3, 12: 4})
# Out - [1, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 0, 4]
# In - convertDictionary({0: 1, 2: 1, 4: 2, 6: 1, 9: 1})
# Out - [1, 0, 1, 0, 2, 0, 1, 0, 0, 1]
# In - convertDictionary({})
# Out - []


def convertD(dictionary):
    if dictionary == {}:
        print([])
    else:    
        M = max(dictionary)
        lst = []
        for i in range(M+1):
              lst.append(dictionary.get(i, 0))
        print(lst)  
convertD({0: 1, 2: 1, 4: 2, 6: 1, 9: 1})

[1, 0, 1, 0, 2, 0, 1, 0, 0, 1]

In [58]:
# Given a Python dictionary, Change Bradâ€™s salary to 8500
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 6500}
# }

# Expected Output
# sampleDict = {
#      'emp1': {'name': 'Jhon', 'salary': 7500},
#      'emp2': {'name': 'Emma', 'salary': 8000},
#      'emp3': {'name': 'Brad', 'salary': 8500}
# }

sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}

sampleDict['emp3']['salary'] = 8500
print(sampleDict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [10]:
# Get the key corresponding to the minimum value from the following dictionary
# sampleDict = {
#   'Physics': 82,
#   'Math': 65,
#   'history': 75
# }

# Expected Output
# Math

d = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
print(min(d,key=d.get))

Math

In [3]:
# Rename key city to location in the following dictionary
# sampleDict = {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "city": "New york"
# }

# Expected Output
# {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "location": "New york"
# }


g = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

g["location"] = g.pop("city")
print(g)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [4]:
# Check if a value 200 exists in a dictionary
# sampleDict = {'a': 100, 'b': 200, 'c': 300}

# Expected Output: True

sampleDict = {'a': 100, 'b': 200, 'c': 300}
for i in sampleDict.values():
    if i == 200:
        print('True')

True

In [11]:
# Delete set of keys from Python Dictionary
# sampleDict = {
#   "name": "Kelly",
#   "age":25,
#   "salary": 8000,
#   "city": "New york"
  
# }
# keysToRemove = ["name", "salary"]

# Expected Output:
# {'city': 'New york', 'age': 25}

sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
  
sampleDict.pop("name")
sampleDict.pop("salary")
print(sampleDict)

{'age': 25, 'city': 'New york'}